h1{
    color: rgb(82, 128, 214);
    padding: 1rem;
}
#wrap{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(47, 82, 148);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.12);
}